body{
  padding-top:100px;
  text-align:center;
  background-color:#bde212;
}

#title{
    color:#e33;
    font-size:40;
}

.btn{
  padding:20px;
  margin:20px;
  font-size:20px;
}

.item{
  display:inline;
  font-size:50;
}

#result{
  font-size:20;
}
