body{
  padding-top:5%;
  text-align:center;
  background-color:#bde212;
}

#title{
    color:#e33;
    font-size:40;
}

#result{
  font-size:20;
}

.btn{
  padding:15px;
  margin:20px;
  font-size:20px;
  width:150px;
}

.item{
  display:inline;
  font-size:200;
  margin: 30px;
}
