body{
  text-align:center;
  background:url("./asserts/slots-wallpaper.jpg") no-repeat center center fixed;
  /*background-repeat: no-repeat;
  background-position: center;
  background-position: center;
  background-position: fixed;*/
  background-size:cover;
  color:#eee;
}

#title{
    color:#e33;
    font-size:40;
}

#result{
  font-size:30;
}

.btn{
  padding:15px;
  margin:20px;
  font-size:20px;
  width:150px;
}

.item{
  font-size:500;
  fill:#222;
  margin: 30px;
  font-family: sans-serif;
}

rect{
  stroke:#abc;
  fill:rgba(155,155,255,0.5);
  stroke-width:10px;
}

img{
  heigth:300px;
  width:450px;
}
